BeautifulSoup==3.2.1
Django==1.5.5
MySQL-python==1.2.5

South==0.8.4
Wand==0.3.5
amqp==1.4.3
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.14
celery==3.1.9
celery-with-redis==3.0
distribute==0.7.3
django-celery==3.1.9
django-mongodb-engine==0.5.1
django-separatedvaluesfield==0.1
django-storages==1.1.8
djangotoolbox==1.6.2
fpdf==1.7
ipython==1.1.0
kombu==3.0.12
meld3==0.6.10
numpy==1.8.0
pyPdf==1.13
pydns==2.3.6
pymongo==2.6.3
pytz==2013.9
redis==2.9.1
reportlab==2.7
requests==2.2.1
scipy==0.13.3
supervisor==3.0
validate-email==1.1
wsgiref==0.1.2
yolk==0.4.3
