{% extends "wa/base_main.html" %}

{% block content %}
<head>
<body>
<font size="3.8">
<h3 style="color:blue;">AudioBooks & Ways of Production</h3>
<p>
Audiobooks are an indispensable aid in making books accessible to people with special needs such as 
visually challenged, elderly and those afflicted with problems such as dyslexia and agraphia. Audiobooks are
currently generated manually for the most part with consequent dependency individuals having to invest substantial
amounts of time and effort to read an entire book. Automation in the form of text-to-speech, on the other hand, is 
available primarily in English and other European languages and is still inferior in quality and accuracy to human voice.
</p>
</br></br>
<h3 style="color:blue;">A New Idea</h3>
<p>
This project aims to design and build a platform crowd-sourcing the production of audio books in any language. 
It also provides a useful feature of digitization of books thereby contributing to better preservation of classical  and out-of-print
books with the added advantage of search and browse functions which are currently not possible with scanned images of books.
</p>
</br></br>
<h3 style="color:blue;">Impact</h3>
<p>
The successful implementation will have significant social impact in the form of making books readily accessible for
people with special needs. This in turn is expected to positively influence the way education is imparted to such people.
As a secondary benefit, classical and out-of-print books can be better preserved by creating both digitized text and audio
versions through crowd-sourcing. Finally, popular books, current research papers, newspapers and periodicals also can 
be converted to audio form on our platform. It may even make audiobooks less boring since several people reading it out
may sound less monotonous than a single voice be it human or robotic.
</p>
</br>For any queries or issues, drop a mail at: contactwikiaudia@gmail.com .
</br></br>
<h3 style="color:blue;">The Developers</h3>
<p>
We, Ashwini V; Lalitha MV ; Jyothi N are final year students from Computer Science Department of PESIT,West Campus,Bangalore.
We have done this project under the complete guidance of Dr. Kavi Mahesh.
For any queries or issues, drop a mail at : contactwikiaudia@gmail.com
</p>
</font>
</body>
</head>
{% endblock %}
