{% extends "wa/base_main.html" %}

{% block content %}

{% load staticfiles %}
<script src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
<script src="/static/wa/js/recorderjs/recorder.js"></script>
<script src="/static/wa/js/index.js"></script>
<script src="{% static "wa/js/jquery.js" %}"></script>


		<!-- Upload form. Note enctype attribute! -->

		<div class="row">
		
		<div class = "col-sm-10 col col-sm-offset-1">
		<img src = "http://54.213.4.161/scripts/getImage.php?filename={{ book_id }}/chunks/{{ para_id }}/image.png" style="border:2px solid black">
		<br/><br/><br/>
		<div>
            <a onclick ="toggleRecording(this)" href="#" class="btn btn-round"><span>Record Audio</span></a>
            <a onclick="saveAudio()" href="#" class="btn btn-round"><span>Save Audio</span></a>
        </div>
        <br/><br/><br/>
		<form action="/wa/audioUploadForm/{{ book_id }}/{{ para_id }}/" method="post" enctype="multipart/form-data">
			<label for="chapterrad">Chunk a chapter beginning?</label><br/><br/>
			<input type="radio" name="chapterrad" id = "chapterrady" value="yes">Yes</input>
			<input type="radio" name="chapterrad" id = "chapterradn" value="no">No</input>
			<br/><br/>
			<p>Sounds ok? Upload the Audio File!</p>
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			
			
			<div class="rowSubmit"><span class="btn btn-red"><p><input type="submit" value="Upload" /></p></span></div>
		</form>
		</div>
		</div>
{% endblock %}
