<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}WikiAudia{% endblock %}</title>
	
	{% load staticfiles %}
	<script src="{% static "wa/arctic-sunset-css/js/libs/modernizr.min.js"%}"></script>
	<script src="{% static "wa/arctic-sunset-css/js/libs/jquery-1.10.0.js"%}"></script>
	<script src="{% static "wa/arctic-sunset-css/js/libs/jquery-ui.min.js"%}"></script>
	<script src="{% static "wa/arctic-sunset-css/js/libs/bootstrap.min.js"%}"></script>

	<!-- Style CSS -->
	<link href="{% static "wa/arctic-sunset-css/css/bootstrap.css" %}" media="screen" rel="stylesheet">
	<link href="{% static "wa/arctic-sunset-css/style.css" %}" media="screen" rel="stylesheet">
	<!--Multiselect for Lang-->
	<link rel="stylesheet" href="{% static "wa/arctic-sunset-css/css/chosen.css" %}" >
	<link rel="stylesheet" href="{% static "wa/arctic-sunset-css/css/cusel.css" %}" >
	<script src="{% static "wa/arctic-sunset-css/js/jquery.chosen.min.js"%}"></script>
	

	<!-- scripts -->
	<script src="{% static "wa/arctic-sunset-css/js/general.js"%}"></script>
	<!--<link rel="stylesheet" href="{% static "wa/artic-sunset-css/css/chosen.css" %}" type="text/css">-->
	
</head>

<body>
	<!--<div class="row">-->
        <div class="col-sm-12">
            <!--<div class="dropdown-wrap">-->
				<ul class="dropdown clearfix">
					<li class="myWebsiteLogo menu-level-0"><span>WikiAudia</span></li>
		    		<li class="menu-level-0"><a href="#"><span>Contribute</span></a></li>
		    		<li class="menu-level-0"><a href="#"><span>About Us</span></a></li>
		    	</ul>
		    <!--</div>-->
        </div>
    <!--</div>  -->
    <div class="container">
	    <!-- content -->
    	<div class="content " role="main">
		    <!--<div class="row">
		        <div class="col-sm-8">
		    		<div class="dropdown-wrap">
		    			<ul class="dropdown clearfix">
		    				<li class="menu-level-0"><a href="#"><span>Contribute</span></a></li>
		    				<li class="menu-level-0"><a href="#"><span>About Us</span></a></li>
		    			</ul>
		    		</div>
		    	</div>
		    </div>	-->	    
		</div>
	</div>

    <div id="content">
        {% block content %}
		{% endblock %}
    </div>
</body>
</html>