{% extends "wa/base_login.html" %}

{% block content %}

<h2>Hello</h2>
{% load staticfiles %}
<script src="{% static "wa/js/jquery.js" %}"></script>
<script src="{% static "wa/js/audio.js" %}"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery("#language").chosen();
});
</script>
<label>Language :</label>


<select class="chosen" id = 'language' onchange = 'displayBooks()'>
{% for lang in langs %}
        <option value = "{{lang.langName}}">{{lang.langName}}</option>
{% endfor %}
</select>
<div id = 'dispBooks'>
</div>

{% endblock %}