{% extends "wa/base_login.html" %}

{% block content %}

{% load staticfiles %}
<script src="http://cwilso.github.io/AudioContext-MonkeyPatch/AudioContextMonkeyPatch.js"></script>
<script src="{% static "wa/js/jquery.js" %}"></script>

<script type="text/javascript">

function upVote()
{
	$.get('/wa/upVoted/{{ book_id }}/{{ para_id }}/', function () { window.location.href = "http://54.213.4.161//wa/valSelection"; });
}
function downVote()
{
	$.get('/wa/downVoted/{{ book_id }}/{{ para_id }}/', function () { window.location.href = "http://54.213.4.161/wa/valSelection"; });
}
</script>


<img border="1px" src="http://54.213.4.161/scripts/getImage.php?filename={{ book_id }}/chunks/{{ para_id }}/image.png" />
</br></br></br></br>

<audio controls>
  <source src="http://54.213.4.161/scripts/getAudio.php?filename={{ book_id }}/chunks/{{ para_id }}/AudioFiles/1.wav" type="audio/wav"></source>
  <embed height="50" width="100" src="http://54.213.4.161/scripts/getAudio.php?filename={{ book_id }}/chunks/{{ para_id }}/AudioFiles/1.wav"></embed>
</audio>
<a href="http://54.213.4.161/scripts/getAudio.php?filename={{ book_id }}/chunks/{{ para_id }}/AudioFiles/1.wav">Play</a>
</br></br></br></br>

<button id="up" id="good" class="btn btn-round" onclick="upVote()"><span>Good</span></button>
<button id="down" class="btn btn-round" onclick="downVote()"><span>Bad</span></button>


{% endblock %}
